h1{
	color: cadetblue;
}

.logout{
	background-color: lightgray;
	width: 100%;
	height: 30px;
	text-align: right;
	margin: 0px, 0px;
}

.prompt{
	background-color: lightskyblue;
	text-align: left;
	width: 100%;
	height: 40px;
	margin-top: 0px;
}

.form{
	width: 100%;
	height: 400px;
}

input[name=text]{
	width:  200px;
	height: 100px;
}
