<html>
<head>
	<meta charset="UTF-8">
	<title>myblog</title>
	<link rel="stylesheet" type="text/css" href="../static/blog.css">
</head>
<body>
	<h1>Flaskr</h1>
	<hr/>
	<div class="logout">
		<a href="">log out</a>
	</div>
	<div class="prompt">
		<h2>{{ error }}</h2>
	</div>
	<div class="form">
		<form method="POST" action="">
			<p>Title:<input type=text name=title></p>
			<p>Text:<input type=text name=text></p>
			<p><input type=submit value=Share></p>
		</form>
	</div>
	<hr/>
	<div class="bottom">
		<h1>Hello World</h1>
		<p>This is my first entry in ths Flaskr micro blog</p>
	</div>
</body>
</html>


