<html>
<head lang='en'>
	<meta charset="UTF-8">
	<title> login</title>
	<link rel="stylesheet" type="text/css" href="../static/login.css">
</html>

<body>
	<div class='background'></div>
	<div class="form">
		<form method="POST" action="">
			<p><b>username</b>  <input type=text name=username></p>
			<p><b>password</b>  <input type=password name=password></p>
			<p><input type=submit value=login></p>
		</form>
	<div class="prompt">
	{% if error %}
		<p>{{ error }}</p>
	{% else %}
		<p></p>
	{% endif %}
	</div>
</body>
